.header {
  // height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dadada;
  padding: 0.6rem;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  z-index: 10;
  top: 0;
  h2 {
    margin: 0;
  }
}

.user-container {
  display: flex;
  align-items: center;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  &__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 2px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(171, 171, 171);
      background: linear-gradient(
        90deg,
        rgba(171, 171, 171, 0.6) 0%,
        rgba(171, 171, 171, 0.5) 50%,
        rgba(171, 171, 171, 0.6) 100%
      );

      height: 100%;

      svg {
        stroke: rgba(171, 171, 171, 0.8);
        stroke-width: 2px;

        // filter: drop-shadow(0px 0px 2px rgba(171, 171, 171, 0.6));
      }

      &.active {
        background-color: aquamarine;
      }
    }
  }
}
