.avatar {
  height: 24px;

  a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #aaa;
    text-decoration: none;
  }
  img {
    height: 100%;
    margin-right: 1rem;
  }
}
